@import "mixin";
@import "third_party/awesome/font-awesome";

p{
	margin: 0;
	padding: 0;
	
	&.curso{
		display: inline-block;			
		font-weight: 600;
				
	}

	&.data{
		opacity: 0.6;
		margin-bottom: 0.8rem;		
	}
}

img{
	&.perfil{
		width: 270px;
		height: 270px;
		display: block;
		margin: 160px auto;
		margin-bottom: 30px;
		border-radius: 50%;
		box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
	}
}

.biography{
	display: block;
	margin: 120px auto;
	margin-bottom: 70px;
	text-align: justify;
}

.publications{
	display: block;
	margin: 60px auto;
	margin-bottom: 60px;
	text-align: justify;
}

.linha{
	background-color: #b3d4fc;
	height: 3px;
	width: 100%;
}

.subtitle{
	display: block;
	text-align: center;
    margin: 60px auto;
    margin-top: 60px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #fff;
    color: #333 !important;
    font-style: normal;
    font-size: 25px !important;
    line-height: 1.47059 !important;
    font-weight: 500 !important;
    letter-spacing: -.022em !important;
}

.experiencia{
	margin: 60px auto;
	display: block;
}

.experience{
	background-color: #f7f7f7;	
	border-radius: 10px;
	p{
		margin-left: 10px;
		margin-right: 10px;
	}
	:first-child { 
		margin-top: 7px;
	}
}

.habilidades{
	display: block;
	margin: 60px auto;
}

.publication{
	margin-bottom: 2em;
}

.habilidade{
	margin-bottom: 1em;
	.nivel{
		background-color: #e0e0e0;
    	height: 8px;
    	width: 100%;
		.iniciante{
			background-color: rgb(33,150,243);
			width: 25%;
			height: 8px;
		}
		.intermediario{
			background-color: rgb(33,150,243);
			width: 50%;
			height: 8px;
		}
		.avancado{
			background-color: rgb(33,150,243);
			width: 75%;
			height: 8px;
		}
		.expert{
			background-color: rgb(33,150,243);
			width: 100%;
			height: 8px;
		}
	}
}

.habilidade_nivel{
	float: right;
	opacity: 0.6;
	text-transform: uppercase;
}

.div{
	overflow: hidden;	
	white-space: nowrap;
	text-overflow: ellipsis;
}

.social{			
	float:right;
	position: relative;
	margin-top: 0px;
}

.social_p{	
    margin: 0px auto;
    position: relative;
    width: 250px;
}

.social-facebook{
@include social("facebook.com");
}

.social-twitter{
@include social("twitter.com");
}

.social-google{
@include social("plus.google.com");
}		

.social-mail{
@include social("mail.com");
}

.social-lattes{
@include social("lattes.cnpq.br");
}

.social-linkedin{
@include social("br.linkedin.com");
}

.social-github{
@include social("github.com");
}

.bar{
	position: fixed;
	top: 0;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.menu_bar{
	font-size: 15px;
}

.menu_phone{
	background-color: rgb(33,150,243);
	color: rgb(255,255,255);
	border: none;
	display: none;
	&:hover{
		background-color: rgba(11, 116, 200, 0.78);
		color: rgb(255,255,255);
	}
}

.rodape{
    margin: auto;
    text-align: center;
}

.collapsible {
	font-family: "Helvetica","Arial",sans-serif;
    background-color: rgba(255,255,255,.7);
    cursor: pointer;
    padding: 15px;
    width: 100%;
    padding-left: 10px;
    /* border: none; */
    text-align: left;
    outline: none;
    font-size: 14px;
    i{
    	float: right;
    }
}

.active, .collapsible:hover {
  background-color: rgb(216, 216, 216);
}

.content {
  padding: 10px 15px;
  display: none;
  overflow: hidden;
  background-color: #eeeeee2e;
}

@media (max-width: 959px){
	img{
		&.perfil{
			width: 270px;
			height: 270px;
			display: block;
			margin: 120px auto;
			margin-bottom: 30px;
			border-radius: 50%;
			box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
		}
	}

	.biography{
		display: block;
		margin: 40px auto;
		margin-bottom: 20px;
		text-align: justify;
	}

	.subtitle{
		margin: 30px auto;
		margin-top: 60px;
	}

	.habilidades{
		margin: 10px auto;
		margin-bottom: 20px;
	}

	.publications{
		display: block;
		margin: auto;
		text-align: justify;
	}

	.experiencia{
		margin: auto;
	}
}

@media (max-width: 669px){
	.contato{
		display: none;
	}

	.social{
		display: none;
	}

	.menu_bar a{
		display: none !important;
	}

	#menuToggle{
		display: flex;
	}
}

@media (min-width: 670px){
	#menuToggle{
		display: none;
	}
}

@media (max-width: 363px){

	.rodape{
		font-size: 13px;
	}

	.publication{
		font-size: 13px;
	}

	p{
		font-size: 13px;
	}

	span{
		font-size: 12px;
	}
}

@media (max-width: 339px){

	.rodape{
		font-size: 12px;
	}
}

@keyframes rotateWord {
    0% { opacity: 0; }
    5% { opacity: 1; }
    17% { opacity: 1; -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	19% { opacity: 1; -webkit-transform: rotate(95deg); transform: rotate(95deg); }
	21% { opacity: 1; -webkit-transform: rotate(85deg); transform: rotate(85deg); }
	23% { opacity: 1; -webkit-transform: translateY(83px) rotate(81deg); transform: translateY(83px) rotate(81deg); }
	25% { opacity: 0; -webkit-transform: translateY(170px) rotate(80deg); transform: translateY(170px) rotate(80deg); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}

#menuToggle {
  flex-direction: column;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, 0);
}

#menu {
	position: absolute;
	width: 100vw;
	/*height: 400px;*/
	box-shadow: 0 0 10px #85888C;
	margin: 38px 46px;
	/* padding-top: 125px; */
	
	/* color: black; */
	-webkit-font-smoothing: antialiased;
	background-color: rgba(252, 254, 255, 0.93);
	transition: 0.5s;
}

#menu button
{
  padding: 10px 0;
  border:none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.31);  width: -webkit-fill-available;
  background-color: rgba(255,255,255,0.11);
  cursor: pointer;
  width: 100%;
  padding-left: 10px;
  text-align: left;
  outline: none;
  font-size: 14px;
  &:hover{
  	background-color: #d8d8d8;
  }

  a{
  	color: black;
  	display: block;
	text-decoration: none;
	font-weight: 550;
	margin: 0;
	cursor: auto;
	line-height: 40px;
	padding: 0 16px;
	font-family: "Helvetica","Arial",sans-serif;
  }
}

a{
	text-decoration: none;
}

#menuToggle input:checked ~ div
{
  	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}