@import "mixin";
@import "third_party/awesome/font-awesome";

p{
	margin: 0;
	padding: 0;
	
	&.curso{
		display: inline-block;			
		font-weight: 600;
				
	}

	&.data{
		opacity: 0.6;
		margin-bottom: 0.8rem;		
	}

	
	font-size: 15px;
	
}

h1{
	
}

img{
	&.perfil{
		width: 270px;
		height: 270px;
		display: block;
		margin: 160px auto;
		margin-bottom: 30px;
		border-radius: 50%;
		box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
	}
}

.biography{
	display: block;
	margin: 120px auto;
	text-align: justify;
}

.publications{
	display: block;
	margin: 60px auto;
	margin-bottom: 60px;
	text-align: justify;
}

.linha{
	background-color: #b3d4fc;
	height: 3px;
	width: 100%;
}

.subtitle{
	display: block;
	text-align: center;
    margin: 60px auto;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #fff;
    color: #333 !important;
    font-style: normal;
    font-size: 25px !important;
    line-height: 1.47059 !important;
    font-weight: 500 !important;
    letter-spacing: -.022em !important;
}

.subtitulo{
	text-align: center;
	margin-bottom: 2em;	
}

.academico{
	text-align: right;
	margin: 20px 0;
}

.experiencia{
	margin: 60px auto;
	display: block;
}

.habilidade_left{
	margin: auto 0;
}

.habilidade_right{
	margin: auto;
}

.habilidades{
	display: block;
	margin: 60px auto;
}

.publication{
	margin-bottom: 2em;
}

.habilidade{
	margin-bottom: 1em;
	.nivel{
		background-color: #e0e0e0;
    	height: 8px;
    	width: 100%;
		.iniciante{
			background-color: rgb(33,150,243);
			width: 33%;
			height: 8px;
		}
		.intermediario{
			background-color: rgb(33,150,243);
			width: 66%;
			height: 8px;
		}
		.avancado{
			background-color: rgb(33,150,243);
			width: 100%;
			height: 8px;
		}
	}
}

.habilidade_nivel{
	float: right;
	opacity: 0.6;
	text-transform: uppercase;
}

.card{
	margin: auto; 
	padding-bottom: 20px;
}

.div{
	overflow: hidden;	
	white-space: nowrap;
	text-overflow: ellipsis;
}

.social{			
	float:right;
	position: relative;
	margin-top: 0px;
}

.social_p{	
    margin: 0px auto;
    position: relative;
    /* margin-top: 0px; */
    /* margin-left: inherit; */
    width: 250px;
}

.social-facebook{
@include social("facebook.com");
}

.social-twitter{
@include social("twitter.com");
}

.social-google{
@include social("plus.google.com");
}		

.social-mail{
@include social("mail.com");
}

.social-lattes{
@include social("lattes.cnpq.br");
}

.social-linkedin{
@include social("br.linkedin.com");
}

.social-github{
@include social("github.com");
}

.frase{
	margin: auto;
	margin-bottom: 40px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	
	&.span{
		color: #444;			
		text-align: center;
	}
}

.texto{	
	display: inline;
	text-indent: 10px;
}
.texto-1 span{	
	overflow: hidden;
	position: absolute;
	opacity: 0;		
	color: #888;
	text-align: center;
	-webkit-transform-origin: 10% 75%;
	transform-origin: 10% 75%;
	-webkit-animation: rotateWord 12s linear infinite 0s;
	-ms-animation: rotateWord 12s linear infinite 0s;
	animation: rotateWord 12s linear infinite 0s;

	&:after{
		content: "! ";

	}
}

.texto span:nth-child(2) { 
    -webkit-animation-delay: 2s; 
	-ms-animation-delay: 2s; 
	animation-delay: 2s; 
	color: #6b889d;
}
.texto span:nth-child(3) { 
    -webkit-animation-delay: 4s; 
	-ms-animation-delay: 4s; 
	animation-delay: 4s; 
	color: #6b739d;	
}
.texto span:nth-child(4) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
	color: #6b889d;
}
.texto span:nth-child(5) { 
    -webkit-animation-delay: 8s; 
	-ms-animation-delay: 8s; 
	animation-delay: 8s; 
	color: #6b739d;	
}

.texto span:nth-child(6) { 
    -webkit-animation-delay: 10s; 
	-ms-animation-delay: 10s; 
	animation-delay: 10s; 
	color: #6b739d;	
}

.bar{
	position: fixed;
}

.menu_bar{
	
	font-size: 15px;
}

.botao{
	width: -webkit-fill-available;
    margin: auto;
    color: rgb(33,150,243);
}


#more {display: none;}


.collapsible {
    background-color: rgba(255,255,255,.7);
    /* color: white; */
    cursor: pointer;
    padding: 15px;
    width: 100%;
    padding-left: 10px;
    /* border: none; */
    text-align: left;
    outline: none;
    font-size: 15px;
    i{
    	float: right;
    }
}

.active, .collapsible:hover {
  background-color: rgb(216, 216, 216);
}

.content {
  padding: 10px 15px;
  display: none;
  overflow: hidden;
  background-color: #eeeeee2e;
}

@media (max-width: 959px){
	img{
		&.perfil{
			width: 270px;
			height: 270px;
			display: block;
			margin: 120px auto;
			margin-bottom: 30px;
			border-radius: 50%;
			box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
		}
	}

	.biography{
		display: block;
		margin: 40px auto;
		margin-bottom: 20px;
		text-align: justify;
	}

	.subtitle{
		margin: 30px auto;
	}

	.habilidades{
		margin: 10px auto;
		margin-bottom: 20px;
	}

	.publications{
		display: block;
		margin: auto;
		text-align: justify;
	}

	.experiencia{
		margin: auto;
	}
}

@media (max-width: 479px){
	.contato{
		display: none;
	}
}

@media (max-width: 359px){

	.social{
		display: none;
	}
}

@keyframes rotateWord {
    0% { opacity: 0; }
    5% { opacity: 1; }
    17% { opacity: 1; -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	19% { opacity: 1; -webkit-transform: rotate(95deg); transform: rotate(95deg); }
	21% { opacity: 1; -webkit-transform: rotate(85deg); transform: rotate(85deg); }
	23% { opacity: 1; -webkit-transform: translateY(83px) rotate(81deg); transform: translateY(83px) rotate(81deg); }
	25% { opacity: 0; -webkit-transform: translateY(170px) rotate(80deg); transform: translateY(170px) rotate(80deg); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}